numpy==1.26.4
scipy==1.12.0
matplotlib==3.8.3
Pillow==10.2.0
pandas==2.3.3
torch==2.1.0
torchvision==0.16.0
transformers==4.38.1
gradio==4.19.2
networkx==3.2.1
ipywidgets==8.1.2
ipympl==0.9.8
ipysankeywidget==0.4.2
ipython==8.39.0
requests==2.31.0
scikit-learn==1.4.1.post1
scikit-image==0.19.2
tqdm==4.66.2
protobuf==3.20.3
numba==0.59.0
sentencepiece==0.2.0
python-dotenv==1.0.1
gymnasium==0.29.1
pytorch_lightning==2.2.4
torchmetrics==1.9.0
torch-optimizer==0.3.0
jupyter_ui_poll==0.2.2
tensorflow==2.8
ffmpeg==1.4
imageio-ffmpeg==0.6.0
torchlens==0.15.15
rsatoolbox==0.1.5
vibecheck==0.0.5
datatops==0.3.1
seaborn==0.13.2
plotly==6.8.0
xarray==2025.6.1
memory-profiler==0.61.0
pickleshare==0.7.5
tabulate==0.10.0
nengo==4.0.0
nengo-spa==2.0.0
nengo-gui==0.5.0
mpl-interactions==0.24.2
graphviz==0.21
git+https://github.com/neuromatch/TextRecognitionDataGenerator@25a49c9944449d3e1039fc1e716ce14cdb74c3e6#egg=trdg
git+https://github.com/neuromatch/GNS-Modeling@5150c63a2d422ba2fb4b461570b6a8be8b10eea8#egg=gns
git+https://github.com/neuromatch/pyBPL@62cbb5cf4aa983c42240efd6a5df6b49e519950c#egg=pybpl
git+https://github.com/neuromatch/MotorNet@61e9a76089e223f1b31d2d8f221d42f50e0ee6d0#egg=motornet
git+https://github.com/ctn-waterloo/sspspace@e97043c87c02a139e1a6bd5972902a43668f4cee#egg=sspspace
git+https://github.com/mitchellostrow/DSA@fa2596f6dbbbcf42014d3f924bcfccca6232421d#egg=dsa-metric
