requests
numpy
scipy
matplotlib
scikit-learn
torch
jupyter
ipywidgets
tqdm
pathlib
pandas
decorator==5.0.9
Pillow
transformers
gradio
torchvision
networkx
trdg
git+https://github.com/neuromatch/GNS-Modeling#egg=gns
git+https://github.com/neuromatch/pyBPL#egg=pybpl
